<ion-list>
  
 <ion-list-header>
   <ion-list-header>
     Menú
   </ion-list-header>
 </ion-list-header>

  
 <ion-menu-toggle>
  <ion-item detail= "true"  [routerLink]="['/inicio']"   (click)="irInicio()">
    <ion-label>
      Inicio
    </ion-label>
  </ion-item>
</ion-menu-toggle>




<ion-menu-toggle>
  <ion-item detail= "true"  [routerLink]="['/servicios']"   (click)="irServicios()">
    <ion-label>
      Servicios
    </ion-label>
  </ion-item>
</ion-menu-toggle>

<ion-menu-toggle>
  <ion-item detail= "true" [routerLink]="['/valoracion']"  (click)="irValoracion()">
    <ion-label>
      Valoracion
    </ion-label>
  </ion-item>
</ion-menu-toggle>


<ion-menu-toggle>
  <ion-item detail= "true" [routerLink]="['/perfil']"  (click)="irPerfil()">
    <ion-label>
      Perfil
    </ion-label>
  </ion-item>
</ion-menu-toggle>
  
<ion-menu-toggle *ngIf="login == false">
 <ion-item detail= "true"  [routerLink]="['/login']"  routerLinkActive="router-link-active" >
    <ion-label>
      Login
    </ion-label>
  </ion-item>
</ion-menu-toggle>



<ion-menu-toggle *ngIf="login ">
  <ion-item detail="true" (click)="logout()">
    <ion-label>
     Salir
    </ion-label>
    <ion-icon ></ion-icon>
  </ion-item>
 </ion-menu-toggle>

</ion-list>
 