<ion-header> 

  <ion-toolbar> 
    <ion-title> SERVICIOS
       </ion-title>

       <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
       </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content class="subtitulo"> 

  <h1 class="tituloalmuerzos" > CATEGORIAS</h1>

  

<h3 class="subtitulo">Pasteles</h3>
  <ion-slides>
  <ion-slide *ngFor="let item of arrayMenus">
    <ion-card no-margin color="danger">
      <img alt="menu" [src]='item.imagen' width="350" height="150"   >,
      <h4>Descripcion: {{item.descripcion}}</h4>
      <h4>Precio : {{item.precio }}</h4>
   </ion-card>
  </ion-slide>
</ion-slides>


<h3 class="subtitulo">Ensaladas</h3>
  <ion-slides>
  <ion-slide *ngFor="let item of arrayEnsaladas">
    
    <ion-card no-margin color="danger">
      <img alt="menu" [src]='item.imagenE' width="350" height="150"   >,
      <h4>DescripcionE: {{item.descripcionE}}</h4>
      
      
   </ion-card>

  </ion-slide>
</ion-slides>








