<ion-header> 

  <ion-toolbar> 
    <ion-title> INICIO 1 </ion-title>

    <ion-buttons slot="end">

        <ion-button (click)="getMenus()" >
        <ion-icon  name="search" ></ion-icon>
        </ion-button>

        

        <ion-button (click)="openMenu($event)" >
        <ion-icon color="dark" slot= "icon-only" name="ellipsis-vertical" ></ion-icon>
        </ion-button>


    </ion-buttons> 
    
    
  </ion-toolbar>
</ion-header>




<div class="ion-text-center">
  <img alt="inicio" src='https://i.pinimg.com/736x/e8/82/64/e88264328fd6a8bebc30040d7754cda1.jpg' width="850" height="650"  >
</div>