<ion-header> 

  <ion-toolbar> 
    <ion-title> VALORACION</ion-title>



    

    <ion-buttons slot="end">


        <ion-button [routerLink]="['/inicio']">
        <ion-icon color="dark" slot= "icon-only" name="home" ></ion-icon>
        </ion-button>


        <ion-button [routerLink]="['/login']">
        <ion-icon color="dark" slot= "icon-only" name="person-circle" ></ion-icon>
        </ion-button>

        <ion-button  [routerLink]="['/servicios']"  >
        <ion-icon color="dark" slot= "icon-only" name="beer" ></ion-icon>
        </ion-button>

     
    </ion-buttons> 
    
    
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <H1>CALIFICANOS</H1>

    <h3>
    <ion-checkbox color="dark"></ion-checkbox>
    
    mala</h3>

    <h3>
    <ion-checkbox color="dark"></ion-checkbox>
    regular</h3>

    <h3>
    <ion-checkbox color="dark"></ion-checkbox>
    buena</h3>
    
    
  <div class="ion-text-center">
    <img alt="valoracionnn" src='https://media.istockphoto.com/vectors/popular-spoon-and-fork-symbol-premium-5-star-restaurant-vector-logo-vector-id1180524310?k=20&m=1180524310&s=170667a&w=0&h=V5F8zu2yOA2CUKlOk195nuEcKsW7VdSd5KnSVnFhqwI='  >
  </div>

  
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  

</ion-content>

<ion-card>
<ion-col col-sm size="4">
  <ion-card no-margin color="danger">
  <ion-card-content content>
    <img src="https://c.tenor.com/fNBtQnC4-iYAAAAi/come-on-lets-go.gif">
    <div> Button 1</div>
  </ion-card-content>
</ion-card>
</ion-col>

<ion-card class="sc-ion-card-ios-h sc">fdjjdj</ion-card>
</ion-card>

<ion-card class="sc-ion-card-ios-h sc">fdjjdj</ion-card>

<ion-card class="sc-ion-card-ios-h sc">fdjjdj</ion-card>
<ion-card class="sc-ion-card-ios-h sc">fdjjdj</ion-card>


















