<ion-header class="ion-no-border"> 


  

  <ion-toolbar> 
    <ion-title> LOGUEAR</ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['/inicio']">
      <ion-icon color="dark" slot= "icon-only" name="home" ></ion-icon>
      </ion-button>

      <ion-button  [routerLink]="['/servicios']"  >
      <ion-icon color="dark" slot= "icon-only" name="beer" ></ion-icon>
      </ion-button>

      <ion-button  [routerLink]="['/valoracion']"  >
      <ion-icon color="dark" slot= "icon-only" name="star" ></ion-icon>
      </ion-button>




    </ion-buttons> 
    
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
      </ion-toolbar>
  </ion-header> 

  

  <ion-card>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ingresa el Usuario:</ion-label>
        <ion-input [(ngModel)]="usuarios" > </ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Ingrese la contraseña:</ion-label>
        <ion-input [(ngModel)]="password" > </ion-input>
      </ion-item>

      <ion-button  (click)="login()"  expand= "full" size="large" color="secondary"  > iniciar sesion </ion-button>
     
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <img alt="login" src='https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png' width="150" height="250"  >
  </div>

</ion-content>


